#inputUser{
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  width: 100%; /* Alterado para 100% */
  height: 50px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

#inputUser::placeholder {
  color: #162051;
  
}

#inputUser:focus {
  outline: none;
  border: 1px solid #162051;
}

@media (max-width: 992px) {
  .password { /* O wrapper (.password) controla o max-width */
    max-width: 100%; /* Ajuste o max-width do componente completo */
  }
  #password { /* O input dentro, só ajustes de altura se necessário */
    height: 48px;
  }
  .input-wrapper button {
    right: 12px; /* Ajuste para px para maior consistência */
  }
}