.password {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-wrapper button {
  background-color: transparent;
  position: absolute;
  top: 70%;
  right: 16px;
  transform: translateY(-70%);
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
}

#password {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  width: 374px;
  max-width: 374px;
  height: 50px;
  padding-left: 20px;
}

#password::placeholder {
  color: #162051;
}
#password:focus {
  outline: none;
  border: 1px solid #162051;
}
