.password {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%; 
  max-width: 100%; 
  margin-bottom: 25px;
}

.input-wrapper {
  position: relative;
  width: 100%; 
}

.input-wrapper button {
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 16px; 
  transform: translateY(-50%);
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#password {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  width: 100%; 
  height: 50px;
  padding-left: 20px;
  padding-right: 40px;
  box-sizing: border-box;
}

#password::placeholder {
  color: #162051;
}

#password:focus {
  outline: none;
  border: 1px solid #162051;
}




@media (max-width: 992px) {
  .password { 
    max-width: 100%; 
  }
  #password { /* O input dentro, só ajustes de altura se necessário */
    height: 48px;
  }
  .input-wrapper button {
    right: 12px; /* Ajuste para px para maior consistência */
  }
}

/* Para telas menores que 768px (tablets em modo retrato e celulares grandes) */
@media (max-width: 768px) {
  .password {
    max-width: 100%; /* Reduz o max-width */
  }
  #password {
    height: 45px;
    padding-left: 15px;
    padding-right: 35px;
    font-size: 16px;
  }
  .input-wrapper button {
    right: 10px;
  }
}

/* Para telas menores que 480px (celulares) */
@media (max-width: 480px) {
  .password {
    max-width: 100%; /* Ocupa mais largura em celulares */
  }
  #password {
    height: 40px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .input-wrapper button {
    right: 10px;
    top: 20px;
  }
}