@import "/src/screens/fonts.css";

.loginPage * {
  
  font-family: "Figtree", sans-serif;
  color: #000000;
  font-size: 20px;
}

.loginPage .container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw; 
  overflow: hidden; 
}

.loginPage #logoDirexa {
  padding: 50px 0px 50px 0px;
  width: 217px;
}

.loginPage #busImg {
  width: 100%; 
  max-width: 900px; 
  margin-top: 60px;
}

.loginPage .left {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  width: calc(100vw - 655px);
}

.loginPage .right {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0px 0px 30px;
  width: 505px;
  height: 100vh;
  background-color: #162051;
  top: 0%;
  position: fixed; 
  right: 0; 
}

.loginPage div #rightButtons {
  width: 389px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin: 56px;
}

.loginPage #loginButton {
  background-color: #7f80e9;
  border: none;
  color: #d9d9d9;
  box-shadow: 3px 3px 40px 8px rgba(127, 128, 233, 0.15);
}
.loginPage #registerButton{
  background-color: transparent;
  border: 2px solid #7f80e9;
  border-radius: 10px;
  cursor: pointer;
  color:#7f80e9;
  margin-left: 5px;
  margin-bottom: 50px;
}

.loginPage form {
  background-color: #7f80e9;
  width: 389px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage form h2 {
  padding: 15px;
  font-weight: 200;
  font-size: 40px;
}

.loginPage #titleLogin {
  font-size: 38px;
  color: #d9d9d9;
  font-weight: 400;
  padding: 30px;
}

.loginPage #entrarAndLembrar {
  padding: 13px;
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.loginPage #sendLogin {
  background-color: #162051;
  color:#d9d9d9;
  width: 150px;
  height: 50px;
}

.loginPage #buttonLembrar {
  padding-left: 20px;
  padding-top: 13px;
  color: #d9d9d9;
}

.loginPage #buttonLembrar input[type="checkbox"] {
  margin-right: 8px;
}

.loginPage #buttonGoogle {
  width: 320px;
  padding: 50px;
}
