@import "/src/screens/css/fonts.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.homePage.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3vw;
  padding-top: 5vh;
  background-color: #162051;

  width: 100%;
  height: 100%;
  position: fixed;
}

.homePage .left {
  text-align: center;
  position: relative;
  justify-content: center;
}

.homePage #checkInButtom {
  position: absolute;
  top: 72vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  background-color: #7f80e9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10vb;
  width: 20vw;
  height: 10vh;
  border: none;

  color: #d9d9d9;
  font-size: 20px !important;
  font-weight: 600;

  cursor: pointer;
}

.homePage #checkInButtom:hover {
  background-color: #6e6fc9;
}

.homePage .right {
  display: flex;
  flex-direction: column;
  width: 300vw;
  align-items: center;
  justify-content: center;
  height: 90%;
  max-height: 90%;
  margin-right: 3%;
}

.homePage #title {
  color: #d9d9d9;
  font-weight: 500;
  font-size: 35px;
  padding: 15px;
}

.homePage .stop {
  padding: 10px;
  margin-bottom: 4vh;
  color: #7f80e9;
  width: 20vw;

  border: solid 2px #7f80e9;

  border-radius: 0.7vi;
}

.homePage li {
  list-style-position: inside;
}

.homePage .stop h1 {
  display: inline;
}

.homePage li::marker {
  font-size: 20px;
  font-weight: 700;
}

.homePage #cosmos {
  background-color: #7f80e9;
  color: #d9d9d9;
}

@media (max-width: 1200px) {
  .homePage.container {
    flex-direction: column; /* Empilha verticalmente */
    overflow-y: auto; /* Permite rolagem */
  }

  .homePage .left {
    width: 65% !important;
    height: 100vh; /* Altura fixa para o mapa */
    margin-bottom: 2vw;
  }

  .homePage .right {
    width: 98% !important;
    margin-right: 0;
    margin-bottom: 20px;
    max-height: none;
  }

  .homePage #checkInButtom {
    top: 70vh;
    left: 70%;
    width: 30vw;
  }

  .homePage .stop {
    margin-right: 10px;
  }

  .homePage ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Ajustes para telas muito pequenas (opcional) */
@media (max-width: 768px) {
  .homePage #checkInButtom {
    font-size: 16px !important;
  }

  .homePage #title {
    font-size: 28px;
  }
}

.homePage .stop.active {
  background-color: #7f80e9;
  color: #d9d9d9;
}
