.password {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper button {
  background-color: transparent;
  position: absolute;
  top: 70%;
  right: 6px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
}
