.password{
    position: relative;
    display: flex;
    align-items: center;
    
}
.password button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
